ul{
    /* Menú con direccionalidad vertical */
    list-style-type: none;
    /* margin-top, margin-bottom, margin-left, margin-right */
    /* Agirnar margen a los 4 laterales en una sola linea se hace con: */
    margin: 3px;
    padding: 6px;
    width: 200px;
    background-color: lightgray;
}


/* Navego a la etiqueta <a> contenida en <li>*/
li a{
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

/* Evento hover: desplazar el mouse por encima del texto */
li a:hover{
    background-color: gray;
    color: azure;
}

/* Cuando en el css se inicia con . quiere decir que se esta accediendo a una class
no a una etique
<etiqueta>
<etiqueta class="nombreClase"> */
.active{
    background-color: gray;
    color: blue;
}